		body{
			font-family: 'Roboto', sans-serif;
		}
		.logo-img{
			height :1rem;
		}
		.logo-img {
		    height: 2rem;
		    margin-left: 0.5rem;
		}
		nav.navbar {
		    background-color: #131821;
		    display: flex;
		    margin-left: -8px;
		    margin-right: -8px;
		    margin-top: -8px;
		    color : white;
		    font-size: 0.8rem;
		}
		.menu {
		    padding-left: 1rem;
		    padding-right: 1rem;
		    align-self: end;
		    padding-bottom: 0.6rem;
		}
		.loc-block{
			display: flex;
		}
		.loc-icon {
		    align-self: flex-end;
		    margin-right: 6px;
		    font-size: 1.3rem;
		}
		.text-light{
			font-weight: lighter;
		}
		.text-bold{
			font-weight: bold;
		}
		.cart-icon{
			font-size: 2rem;
		}
		.search-block{
			border:0px;
			font-size: 1.3rem;
			padding: 0.5rem;
		}
		.search-bar {
		    display: flex;
		}
		.search-dropdown {
		    border-bottom-left-radius: 6px;
		    border-top-left-radius: 6px;
		}
		.search-btn {
		    border-bottom-right-radius: 6px;
		    border-top-right-radius: 6px;
		    padding-left: 0.7rem;
		    padding-right: 0.7rem;
		}
		.search{
			flex-grow: 1;
		}
		.search-input{
			width: 100%;
		}
		.product {
		    text-align: center;
		    width: 15rem;
		    margin: 1rem;

		}
		img.product-img {
		    width: 15rem;
		}
		span.price {
		    font-size: 1.3rem;
		    font-weight: bold;
		}
		.page-body {
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: space-evenly;
		}